$search-height: 150px;
$content-width: 900px;

.content {
  width: $content-width;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.85);
  height: 700px;
  overflow-y: scroll;
  padding: 0 1em;

  .search {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $content-width;
    height: $search-height;
    justify-content: space-around;
    background: red;
    opacity: 0.85;
    z-index: 1;

    input {
      height: 2em;
      width: 30em;
    }
  }

  .comics {
    padding-top: calc(#{$search-height} + 1em);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;

    .comic {
      position: relative;
      margin: 0.5em;
      border: solid 2px black;

      &:hover {
        border: solid 2px red;
      }

      .fav {
        background: image-url('heart_off.png');
        width: 30px;
        height: 27px;
        position: absolute;
        right: 5px;
        top: 5px;

        &:hover {
          background: image-url('heart_hover.png');
        }

        &.favourite {
          background: image-url('heart_on.png');
          width: 36px;
          height: 32px;
          top: 0;
          right: 4px;
        }
      }

      img {
        box-shadow: 5px 10px 10px;
        &:hover {
          opacity: 0.4;
        }
      }
    }

    .actions {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  a {
    display: block;
    text-transform: uppercase;
    color: red;
    background: white;
    width: 10em;
    line-height: 2em;
    text-align: center;
    bottom: 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;

    &.disabled { 
      opacity: 0.7;
    }
  }
}
